$baselight: #fff;
$firstcolor: #002f51;
$colortwo: #01293d;
$colorfree: #002f51;
$colorfour: #999;
$colorfive: #7f7f7f;
$colorsix: #f2f3f5;
$colorseven: #5c5c5c;
$coloreight: #012131;
$colornine: #011a26;
$colorten: #e8b401;
$coloreleven: #6c7a81;
$colortwelve: #828282;
$colorthirteen: #91a0a8;
$colorfourteen: #80a4b5;
$colorfifteen: #02496c;